/*.tab {
    overflow: hidden;
    border: 1px;
    background-color: royalblue;
}*/

body, html {
    height: 100%;
    margin: 0;
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    margin-block-start: 0;
    margin-block-end: 0;
}

tbody tr td:first-child {
    width: 11em;
    font-weight: bolder;
}
tbody input {
    padding: 0 0 0 10px;
}
table {
    border-spacing: 5px;
}
.background {
    display: flex;
    align-items: center;
    background-color: #e3e3e3;
    width: 650px;
    height: 450px;
    box-shadow: 10px 10px 5px grey;
}
.block {
    align-items: center;
    margin: auto;
}
.box {
    display: none;
    align-items: center;
    background-color: white;
    float: none;
    width: 550px;
    height: 280px;
    margin: 0px;
    padding: 0px;
    border-radius: 0px 5px 5px 5px;
    overflow: hidden;
}
.box.active {
    display: flex;
}
.name {
    flex-direction: column ;
}
.avatar {
    display: flex;
    float: left;
    flex-direction: column;
    margin: 30px 15px 0 15px;
    height: inherit;
}
.user {
    display: flex;
    flex-direction: column;
    margin: 35px 0 0 0;
    height: inherit;
}
.user-data {
    margin-bottom: 20px;
}
.user-name {
    font-size: 20pt;
}
.user-town {
    font-size: 9pt;
    color: #666;
}
.tabheadcontainer{
    height: 0px;
    margin: 0px;
    justify-content: space-between;
    position: relative;
}
.tabhead {
    background-color:#1870ae;
    float: left;
    color: white;
    border: none;
    border-radius: 5px 5px 0px 0px;
    margin-right: 10px;
    outline: none;
    cursor: pointer;
    padding: 10px 10px;
    font-size: 13px;
}
.tabhead.active {
    background-color:white;
    color: black;
    z-index: 1;
}
.tabhead:hover {
    background-color: #777;
}
/*.button {
    background-color: #fff;
    border: 1px solid #ddd;
} */ 
input#status {
    border: none;
    outline: none;
}
input#email {
    border: none;
    outline: none;
}
input#phone {
    border: none;
    outline: none;
}
input#town {
    border: none;
    outline: none;
}
input#user {
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 18pt;
}
#tobefriend {background-color: orangered;
    color: white;
    height: 30px;
    border-radius: 3px;
    border: none;
    margin-top: -8px;
    background: linear-gradient(0deg, orangered, #ffc577);
}
.hobbies input {
    color: #1870ae;
    margin-top: 7px;
    height: 27px;
    background-color: white;
    border: solid 1px lightgray;
    border-radius: 2px;
}
.hobbies input:hover {
    background-color: #f7f5f5;
    border: solid 1px lightgray;
    color: black;
}
.interest label {
    font-weight: bolder;
}
td a {
    color: #1870ae;
    padding: 0 0 0 10px;
}
/*
#info td:first-child + td {
    margin-left: 10px;
}*/
/*.hobbies.button {
    background-color: gray;
}*/
/**h1 {
    image-rendering: initial;
}*/

