/*.tab {
    overflow: hidden;
    border: 1px;
    background-color: royalblue;
}*/

body, html {
    height: 100%;
    margin: 0;
    font-weight: bold;
    font-size: 12pt;
    font: bolder;
  }
.background {
    display: flex;
    align-items: center;
    background-color: #e3e3e3;
    width: 650px;
    height: 450px;
    box-shadow: 10px 10px 5px grey;
}
.block {
    align-items: center;
    margin: auto;
}
.hobbies{
    /*display: inline;*/
    color: blue;
}
.box {
    display: flex;
    align-items: center;
    background-color: white;
    float: none;
    width: 550px;
    height: 300px;
    margin: 0px;
    padding: 0px;
    border-radius: 2px;
}
.name {
    flex-direction: column ;
}
.avatar {
    display: flex;
    float: left;
    flex-direction: column;
    margin: 15px;
}
.tabheadcontainer{
    height: 0px;
    margin: 0px;
    justify-content: space-between;
}
.tabhead {
    background-color:#1870ae;
    float: left;
    color: white;
    border: none;
    border-radius: 2px;
    margin: 0px;
    outline: none;
    cursor: pointer;
    padding: 10px 10px;
    font-size: 12px;
    width: 25%;
  }

.tabhead.active {
    background-color:white;
    color: black;
}
/*.user {
    padding: 5em;
    align-content: flex-start;

}*/
.tabhead:hover {
    background-color: #777;
  }
input#status {
    border: none;
    outline: none;
}
input#email {
    border: none;
    outline: none;
}
input#phone {
    border: none;
    outline: none;
}
input#town {
    border: none;
    outline: none;
}
input#user {
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 18pt;
}
#tobefriend {background-color: orangered;
    color: white;
    height: 40px;
    border-radius: 3px;
    border: none;
}
/**h1 {
    image-rendering: initial;
}*/

